:root {
  --second-title-colour: #2E2F42;
  --second-title-font-weight: 700;
  --subtitle-colour: #2E2F42;
  --subtitle-font-weight: 500;
  --main-text-colour: #434455;
  --main-text-font-weight: 400;
  --nav-colour: #2E2F42;
  --contact-colour: #434455;
  --main-colour-button: #4D5AE5;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
}
.list {
    list-style: none;
}
.header-mail {
    font-style: normal;
}
.header-tel {
    font-style: normal;
}
.link {
    text-decoration: none;
}
.accent {
    color: #4D5AE5;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*------------HEADER-----------*/
.header {
}
.header-navigation {
}
.header-logo {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}
.header-list {
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--nav-colour)
}
.header-link:hover, .header-link:focus {
    color: #4D5AE5;
}
.header-address {
}
.header-mail {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--contact-colour)
}
.header-mail:hover, .header-mail:focus {
    color: #4D5AE5;
}
.header-tel {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--contact-colour)
}
.header-tel:hover, .header-tel:focus {
    color: #4D5AE5;
}

/*------------HERO-----------*/
.hero {
    background-color: #2E2F42;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus {
    background: #404BBF;
}
/*------------ABOUT-----------*/
.about {}

.about-title {
} 
.about-list {}

.about-item {}

.about-subtitle {
        font-weight: var(--subtitle-font-weight);
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--subtitle-colour)
}
.about-text {
        font-weight: var(--main-text-font-weight)
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-colour);
}

/*------------SERVICES-----------*/
.services {}

.services-title {
        font-weight: var(--second-title-font-weight)
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--second-title-colour);
}

.services-list {}

.list {}

/*------------TEAM-----------*/
.team {
    background-color: #F4F4FD;
}
.team-title {
        font-weight: var(--second-title-font-weight);
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--second-title-colour);
}

.team-list {}

.team-item {}

.team-subtitle {
        font-weight: var(--subtitle-font-weight);
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--subtitle-colour)
        text-align: center;
}

.team-text {
        font-weight: var(--main-text-font-weight)
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-colour);
        text-align: center;
}

/*------------FOOTER-----------*/
.footer {
    background: #2E2F42;
}
.footer-logo {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.footer-text {
        color: #E7E9FC;
}

/*-----------------------portfolio--------------------------*/
/*------------BUTTONS-----------*/
.buttons {}

.buttons-title {
}
.buttons-list {}
.buttons-button {
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: var(--main-colour-button)
            cursor: pointer;
}
.buttons-button:hover, .buttons-button:focus {
    color: #FFFFFF;
}

.examples-list {}

.list {}

.examples-item {}
.examples-item-link {
    text-decoration: none;
}
.examples-item-subtitle {
        font-weight: var(--subtitle-font-weight);
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--subtitle-colour)
}
.examples-item-text {
        font-weight: var(--main-text-font-weight);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-colour);
}